{% extends "default.html" %}
{% block head %}
    <title>Delete</title>
    <script src="/static/js/delete.js"></script>
    <style>
        .grid {
            max-width: 40em;
            margin-bottom: 2em
        }
    </style>
{% endblock %}
{% block main %}
    <article>
        <a role="button" href="#" class="delete" onclick="socket.emit('delete', {identifier: 'all'})">Delete all
            data</a>
        <a href="controls" role="button">Back to Controls</a>
    </article>
    <article>
        <details>
            <summary role="button">By Period</summary>
            <table>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="tablebody"></tbody>
            </table>
        </details>

        <details>
            <summary role="button">By Speaker</summary>
            <table>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="tablebody2"></tbody>
            </table>
        </details>
    </article>
{% endblock %}
